services:
  llm:
    platform: linux/amd64
    image: vllm/vllm-openai:v0.13.0
    container_name: llm
    ports:
      - "9000:8000"
    env_file: ".env"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
    ipc: host
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    command: >
      Qwen/Qwen3-32B-AWQ
      --port 8000
      --max-model-len 8000
      --max-num-seqs 1
      --kv-cache-dtype fp8
      --gpu-memory-utilization 0.90
      --enable-auto-tool-choice
      --tool-call-parser hermes
      --tensor-parallel-size 1
      --reasoning-parser qwen3
      --uvicorn-log-level warning
      --disable-log-requests

  faster_whisper:
    image: quay.io/ktbs/fd-itbs/faster-whisper:v1.4.1
    ports:
      - "50001:50001"
    env_file: ".env"
    deploy:
      resources:
        reservations:
          memory: 16g
          devices:
            - driver: nvidia
              device_ids: ["1"]
              capabilities: [gpu]
  # transcribo-backend:
  #   build:
  #     context: .
  #     dockerfile: ./Dockerfile
  #   depends_on:
  #     - faster_whisper
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     - WHISPER_API=http://localhost:50001/v1
  #     - PORT=${PORT}
volumes:
  hugging_face_cache:
